{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="login-container">
        <div class="logo-container">
            <img src="{% static 'img/img_correo.png' %}" alt="Descripción de la imagen">.
        </div>
       
        <form method="post" class="login-form">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" placeholder="Nombre de usuario" required>
                <i class="fas fa-user"></i>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Contraseña" required>
                <i class="fas fa-lock"></i>
            </div>
            <div class="remember-me">
                <input type="checkbox" name="remember_me" id="remember_me">
                <label for="remember_me">Recuérdame</label>
            </div>
            <div class="alert" style="display: none;"></div> <!-- Añadir la alerta -->
            <button type="button" class="btn-login log-btn">Acceder</button>
            <a href="{% url 'password_reset' %}" class="forgot-password">¿Has olvidado tu contraseña?</a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
