{% extends "registration/base_generic.html" %}

{% load i18n %}

{% block content %}
    <h2>Restablecimiento de contraseña enviado</h2>
    <p>
        {% blocktrans trimmed %}
            Te hemos enviado un correo electrónico con las instrucciones para establecer tu contraseña,
            si existe una cuenta registrada con el correo que ingresaste. Deberías recibirlo pronto.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed %}
            Si no recibes el correo, por favor asegúrate de haber ingresado la dirección
            con la que te registraste y revisa tu carpeta de spam.
        {% endblocktrans %}
    </p>
{% endblock %}
